@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Outfit;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background:linear-gradient(#00FF00,#03ce03e7,#018201e3);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.25);
}
::-webkit-scrollbar-track{
  background-color: gray;
}
body{
    @apply bg-gray-50 dark:bg-neutral-900 relative overflow-x-hidden
}
h1{
  @apply flex justify-center text-3xl font-bold text-gray-900 dark:text-white
}
.intro{
  @apply  text-2xl md:text-4xl font-medium ms-5
}
.intro span{
  background: -webkit-linear-gradient(10deg,#57e5a0, #00FF00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sideBar{
  @apply fixed h-full z-30 w-20 hover:w-1/6 bg-gray-400  dark:bg-neutral-800 flex justify-start
}
.sideBar-items{
  @apply  w-full mt-20 flex flex-col  px-4 pt-10
}
.recent{
  @apply w-full h-full overflow-y-scroll mt-5
}
.recent::-webkit-scrollbar{
  display: none;
}
.new-chat{
  @apply bg-gray-700 h-10 gap-3 rounded-full flex justify-center items-center
}
.new-chat span,.recent p{
  @apply text-black dark:text-white  text-sm md:text-lg
}
.intro-text{
  @apply text-black dark:text-white  text-2xl font-bold mb-5
}
.plus-icon{
  @apply text-white dark:text-gray-500 text-xl 
}
.home-menu{
  @apply  h-10 w-10 text-gray-500 
}
.menu-button{
  @apply absolute top-10  left-4 md:left-3 z-30
}
.header{
  @apply absolute top-10  left-24  z-30 flex items-center space-x-2 
}
.bot{
  @apply  h-auto w-xl text-pretty mt-5  text-black dark:text-white
}

.Bot-text{
  @apply text-2xl text-black dark:text-white  font-bold
}
.content{
  @apply absolute  left-[10%] md:left-[15%]  w-[80%] lg:w-2xl  lg:left-[30%]  top-[5em]
}
.search{
  @apply    w-full  md:w-auto md:mx-3   flex justify-center 
}
.chat{
  @apply h-[60vh]  w-full  text-black dark:text-white overflow-y-scroll overflow-x-hidden
}
.chat::-webkit-scrollbar {
  display: none;
}
.features{
  @apply grid grid-cols-1 md:grid-cols-3 md:gap-6 gap-2
}
.features-box{
  @apply  bg-slate-800/40  backdrop-blur-sm p-2 md:p-6 rounded-2xl border border-slate-700/50
}
.features-icon{
  @apply w-12 h-12 rounded-xl flex items-center justify-center md:mb-4
}
.features-text{
  @apply text-xl font-semibold text-gray-700 dark:text-white mb-2 
}
.uploadImage,.chatimg{
  @apply w-20 h-20 rounded-md object-fill m-3
}
.loader{
  @apply w-full flex flex-col gap-5 mt-5
}

.loader hr {
  border-radius: 4px;
  border: none;
  background: linear-gradient(to right, #6c6b6b, #ffff, #6c6b6b);
  height: 20px;
  background-size: 200% 100%;
  animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}



.generateImage{
  @apply w-40 h-40 rounded-md object-fill
}
.chatimg{
  @apply  absolute right-1 
}
.promptText{
  @apply absolute right-1 rounded-s-full rounded-b-full  bg-gray-200 p-5  dark:bg-neutral-800
}
.bot{
  @apply  h-auto w-xl text-pretty   text-black dark:text-white
}
.chatBox{
  @apply w-auto h-auto rounded-3xl
}
.search-box{
  @apply flex items-center   w-auto md:min-w-[42vw] h-12 
}
.chatBox,.file-box{
  @apply  bg-gray-200  dark:bg-neutral-900 border-2 border-gray-400 
  text-black dark:text-white
}
.inputForm{
  @apply flex w-full h-auto
}

input[type="text"] {
  @apply w-full h-full border-none outline-none text-lg 
}
.option,.submit{
  @apply  text-black dark:text-white mx-2 p-2
}
.option:hover{
  @apply bg-gray-300  dark:bg-gray-700 rounded-full
}
.submit{
  @apply bg-gray-200  dark:bg-gray-700 p-2 rounded-full
}
.submit:hover{
  @apply bg-gray-300  dark:bg-gray-800
}
.file-box{
  @apply  h-20 w-36 rounded-lg mb-1
}
.upload{
  @apply   text-green-500  mt-2
}
.generate{
  @apply   text-teal-400 
}
.upload,.generate{
  @apply flex p-2  h-7 w-full 
}
.upload:hover,.generate:hover{
  @apply  dark:bg-gray-700  bg-gray-300 
}
.primary-text{
  @apply text-gray-900 dark:text-gray-500 text-sm
}
.recent-chat-item{
  @apply text-gray-900 dark:text-white text-xl cursor-pointer
}
@media screen and (max-width:1280px) {
  .sideBar{
    width:5em;
  }
  .sideBar:hover{
    width:30vw;
  }
}

@media screen and (max-width:540px){
  .sideBar{
    width: 15vw;
  }
  .sideBar:hover{
    width: 35vw;
  }
}
@media screen and (max-width:412px){
  .sideBar{
    width: 20vw;
  }
  .sideBar:hover{
    width: 45vw;
  }
}